body{
    margin: 0;
}
/* -- header section --*/
.font-face{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#header {
    background-color: #bb3030;
    padding: 15px;

}
.logo-div {
    display: inline-block;
}
.items-div {
    display: inline-block;
    float: right;
}
.item {
     color: #fff;
     text-decoration: none;
     margin-left: 20px;
}
/* About section styling */
#about-section{
    padding: 80px;
}
.text-div {
    display: inline-block;
    padding: 4x;
}

.about-text{
    color: #bd0000;
}

.img-div{
    display: inline-block;
    float: right;
    margin-top: 40px;
}
/* course section styling */
#course-section{
    padding: 70px;
    margin-top: 50px;


}
.first-course{
    display: inline-block;
    float: left;
}
.sub {
    color: aqua;
}

.course-section {
    padding: 70px;
}
.web-developer{
    display: inline-block;

}

.web-developers{
    display: inline-block;
    float: right;
}


.main-text{
    margin: 0 40%

}
 .main-text{
    margin: 0px auto;
}
/* footer styling  */
#footer{
    padding: 70px ;
    background-color: rgb(25, 25, 31);
}

.f-left {
    display: inline-block;
    
}
.f-right{
    display: inline-block;
    float: right;
}
.f-text{
    color: rgb(16, 162, 48);
}
.f-link{
    color: bisque;
    font-weight: 200px;
    text-decoration: none;

}
/* .footer styling end */